body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #747b80;
  display: flex;
  justify-content: center;
}
p{
  margin-bottom: 10px;
  font-size: 14px;
}

h1{
  font-size: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  line-height: 1.25;
  font-weight: 300;
  color: #1D2A33;
}

.cool{
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #ABB0B2;
  height: 36px;
}
